
p {
     
      color: blue;
      
}

body {

        color: brown;
}

h1 {
    color: red;
}

a {
   
   color: green;


}

section {
  
    border: none;
}

nav {
     
     color: blue;
     font-size: 25px;
     font-type: bold;
}

img {
     
     border: solid;


}