body {

        color: black;

}

h1 {
    color: black;
    text-align: left;
}

h2 {

    font-size: 15px;
    text-align: right;
    width: 800px;

}
h3 {

  color: blue;
  
}
h4 {
    color: red;
}

h5 {
    
    color: blue;

}

a {
   
   color: blue;
   
 }

 nav {
     
     color: blue;
     font-size: 25px;
     font-type: bold;
}

.img-frame {
    background:transparent;
    padding:8px;
    border:1px solid #999999; 
  }

.img-frame-cap {
    width:760px;
    background:#fff;
    padding:18px 18px 2px 18px;
    border:1px solid #999; 
  }

  .caption {

    text-align:center;margin-top:4px;font-size:12px; 

  }

header {
  
      font: bold;
}

